body {
  background-color: #5496a5;
  margin: 60px auto;
  width: 70%;
  color: #fff;
}

nav ul, footer ul{
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li{
  display: inline;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: #d3d3d3;
}

a:hover{
  text-decoration: underline;
}

.blurb li{
  font-size: 1.7em;
  font-family: 'Raleway', 'Sans-Serif';
}

h1{
  font-size: 3em;
  font-family:  'Trebuchet MS', 'Helvetica', 'Sans-Serif';
}

h2{
  font-family: 'Raleway', 'Sans-Serif';
  font-size: 2em;
  font-weight: 300;
}

p{
  font-size: 1.2em;
  line-height: 1.5em;
  align-justify: auto;
  text-align: justify;
  font-family: 'Verdana', 'Geneva', 'Sans-Serif';
}

footer{
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li{
  list-style: none;
}

iframe{
  display: block;
  width: 500px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
